@import "./syntax.scss";

body {
  background: red;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background: blue;
  a {
    color: white;
  }
}
