@import "./syntax.scss";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  padding-top: 80px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(220, 220, 220, 0.6),
      rgba(220, 220, 220, 0.6)
    ),
    url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: #e3e6ea;
  box-shadow: 0px 18px 40px -20px rgba(0, 0, 0, 0.5);
  a {
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  // background: rgba(0, 0, 0, 0.1);
}

.main-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  padding: 64px;

  width: 100%;
}

p {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.home-card {
  padding: 64px 64px 24px 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divider {
  margin-top: 80px;
  height: 3px;
  width: 150px;
  border-bottom: 1px solid black;
  opacity: 0.2;
}

.social-button {
  cursor: pointer;
  // color: rgba(0, 0, 0, 0.2);
  color: black;
  svg {
    opacity: 0.2;
    transition: all 500ms linear;
  }
  :hover {
    transition: all 500ms linear;
    opacity: 1;
    // color: rgba(0, 0, 0, 1);
  }
}

.social-media-section {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.single-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.article-container {
  background-color: rgba(255, 255, 255, 0.35);
  padding-left: 24px;
  padding-right: 24px;
  line-height: 1.3;
}

ul {
  margin-top: 16px;
}

h2 {
  margin-top: 40px;
}

.twitter-tweet {
  margin: 0 auto;
}

img {
  width: 40%;
}

table {
  margin-left: auto;
  margin-right: auto;
}
