{{ $style := resources.Get "style/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Personal webpage of Anže Pureber with all the important social media links and the CV." />
    <title>{{ if .IsHome }}{{ .Site.Params.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Params.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>
  <body>
